body {
    font-family: Verdana, sans-serif;
    font-size: small;
}

tr > td {
    vertical-align: top;
    text-align: center;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 10px 20px;
    position: relative;
}

tr { page-break-inside: avoid; }

table { border-collapse: collapse; }

.player { font-weight: bold; }

.index {
    position: absolute;
    left: 10px;
}

.Opening { font-style: italic; }

@media print {
    body {
        font-size: 6pt;
    }
}
